{% extends 'IbwJobeetBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/jobs.css') }}" type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div id="jobs">
        {#<table class="jobs">#}
            {#{% for entity in entities %}#}
                {#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
                    {#<td class="location">{{ entity.location }}</td>#}
                    {#<td class="position">#}
                        {#<a href="{{ path('ibw_job_show', {'id':entity.id, 'company':entity.companyslug, 'location':entity.locationslug, 'position':entity.positionslug}) }}">#}
                            {#{{ entity.position }}#}
                        {#</a>#}
                    {#</td>#}
                    {#<td class="company">{{ entity.company }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        {#</table>#}
        {% for category in categories %}
            <div>
                <div class="category_{{ category.name|strtolower }}">
                    <div class="feed">
                        <a href="{{ path('IbwJobeetBundle_category', {'slug': category.slug, '_format': 'atom'}) }}">Feed</a>
                    </div>
                    <h1><a href="{{ path('ibw_category', {'slug': category.slug}) }}">{{ category.name }}</a></h1>
                </div>
                {#<table class="jobs">#}
                    {#{% for entity in category.activeJobs %}#}
                        {#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
                            {#<td class="location">{{ entity.location }}</td>#}
                            {#<td class="position">#}
                                {#<a href="{{ path('ibw_job_show', { 'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">#}
                                    {#{{ entity.position }}#}
                                {#</a>#}
                            {#</td>#}
                            {#<td class="company">{{ entity.company }}</td>#}
                        {#</tr>#}
                   {#{% endfor %}#}
                {#</table>#}
                {{ include ('IbwJobeetBundle:Job:list.html.twig', {'jobs':category.activejobs}) }}
                {% if category.morejobs %}
                    <div class="more_jobs">
                        和 <a href="{{ path('ibw_category', {'slug': category.slug}) }}">{{ category.morejobs }}</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

