{% extends 'IbwJobeetBundle::layout.html.twig' %}

{% block title %}
    {{ entity.company }} 公司正在寻找职位 {{ entity.position }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}"/>
{% endblock %}
{% block content -%}
    <div id="job">
        <h1>{{ entity.company }}</h1>
        <h2>{{ entity.location }}</h2>
        <h3>
            {{ entity.position }}
            <small> - {{ entity.type }}</small>
        </h3>
        {% if entity.logo %}
            <div class="logo">
                <a href="{{ entity.url }}">
                    <img src="/uploads/jobs/{{ entity.logo }}" alt="{{ entity.company }} logo"/>
                </a>
            </div>
        {% endif %}
        <div class="description">
            {{ entity.description|nl2br }}
        </div>
        <h4>如何申请？</h4>
        <p class="how_to_apply">{{ entity.howtoapply }}</p>

        <div class="meta">
            <small>申请日期 {{ entity.createdat|date('Y-m-d H:i') }}</small>
        </div>
        <div style="padding:20px 0">
            <a href="{{ path('ibw_job_edit', {'token':entity.token}) }}">编辑</a>
        </div>
    </div>
{% endblock %}





























