{% extends 'IbwJobeetBundle::layout.html.twig' %}
{% block title %}
    在{{ category.name }}分类中的工作
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/jobs.css') }}"/>
{% endblock %}
{% block content %}
    <div class="category">
        <div class="feed">
            <a href="">Feed</a>
        </div>
        <h1>{{ category.name }}</h1>
    </div>
    {#<table class="jobs">#}
        {#{% for entity in category.activejobs %}#}
            {#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
                {#<td class="location">{{ entity.location }}</td>#}
                {#<td class="position">#}
                    {#<a href="{{ path('ibw_job_show', { 'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">#}
                        {#{{ entity.position }}#}
                    {#</a>#}
                {#</td>#}
                {#<td class="company">{{ entity.company }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}
    {{ include ('IbwJobeetBundle:Job:list.html.twig', {'jobs': category.activejobs}) }}
    {% if last_page > 1 %}
        <div class="pagination">
            <a href="{{ path('ibw_category', {'slug': category.slug, 'page':1}) }}">
                <img src="{{ asset('bundles/ibwjobeet/images/first.png') }}" alt="第一页"/>
            </a>
            <a href="{{ path('ibw_category', {'slug': category.slug, 'page': previous_page}) }}">
                <img src="" alt="前一页"/>
            </a>
            {% for page in 1..last_page %}
                {% if page == current_page %}
                    {{ page }}
                {% else %}
                    <a href="{{ path('ibw_category', {'slug':category.slug, 'page':page}) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            <a href="{{ path('ibw_category', {'slug': category.slug, 'page': next_page}) }}">
                <img src="{{ asset('bundles/ibwjobeet/images/next.png') }}" alt="下一页"/>
            </a>
            <a href="{{ path('ibw_category', {'slug': category.slug, 'page': last_page}) }}">
                <img src="{{ asset('bundles/ibwjobeet/images/last.png') }}" alt="最后一页"/>
            </a>
        </div>
    {% endif %}
    <div class="pagination_desc">
        总共<strong>{{ total_jobs }}</strong> 个工作机会在这个分类
        {% if last_page>1 %}
            -页 <strong>{{ current_page }}/{{ last_page }}</strong>
        {% endif %}
    </div>
{% endblock %}