<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Jobeet - 你最好的找工作平台{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/main.css') }}" type="text/css" media="all"/>
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="application/atom+xml" title="最近工作" href="{{ url('ibw_job', {'_format':'atom'}) }}"/>
</head>
<body>
<div id="container">

    <div id="job_history">
        最近浏览的工作
        <ul>
            {% for job in app.session.get('job_history') %}
            <li>
                <a href="{{ path('ibw_job_show', {'id': job.id, company: job.companyslug, 'location': job.locationslug, 'position': job.positionslug } ) }}">
                    {{ job.position }} - {{ job.company }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="header">
        <div class="content">
            <h1><a href="{{ path('ibw_jobeet_homepage') }}"><img src="{{ asset('bundles/ibwjobeet/images/logo.jpg') }}" alt="logo"/></a></h1>
            <div id="sub_header">
                <div class="post">
                    <h2>寻找人</h2>
                    <div><a href="{{ path('ibw_job_new') }}">发布招聘</a></div>
                </div>

                <div class="search">
                    <h2>寻找工作</h2>
                    <form action="{{ path('ibw_job_search') }}" method="get">
                        <input type="text" name="query" value="{{ app.request.get('query') }}" id="search_keywords" />
                        <input type="submit" value="搜索" />
                        <div class="help">请输入一些关键字（城市，国家，地点，...）</div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash_notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash_error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="content">
            <span class="symfony">
                <img src="{{ asset('bundles/ibwjobeet/images/jobeet-mini.png') }}" alt="来自"/>
                来自<a href="http://angusty.com">
                    <img src="{{ asset('bundles/ibwjobeet/images/symfony.gif') }}" alt="symfony"/>
                </a>
            </span>
            <ul>
                <li><a href="">关于 Jobeet</a></li>
                <li class="feed"><a href="{{ path('ibw_job', {'_format': 'atom'}) }}">Full feed</a></li>
                <li><a href="">Jobeet API</a></li>
                <li class="last"><a href="{{ path('ibw_affiliate_new') }}">Become an affiliate</a></li>
            </ul>
        </div>
    </div>
</div>
    {% block javascripts %}
       
        <script type="text/javascript" src="{{ asset('bundles/ibwjobeet/js/jquery-2.1.4.js') }}"></script>
    {% endblock %}
</body>
</html>